body{
  padding: 0;
  margin: 0;
  background-color: #FAFAFA;
  font-family: 'Roboto Slab', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body > div{
  margin: 20px auto 20px auto;
  width: 50%;
  border: 1px solid black;
  background-color: white;
  text-align: center;
  padding: 20px;
}

body > div > h1{
  font-weight: 900;
  font-size: 2.5rem;
  margin-top: 0;
}

body > div > textarea{
  padding: 10px;
  width: 96%;
  font-size: 1rem;
  line-height: 2.4;
}

.grid-container{
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  text-align: left;
  font-size: 1.6rem;
}

.grid-container-1{
  display: grid;
  grid-template-columns: 100%;
  width: 100%;
  text-align: left;
  font-size: 1.6rem;
  text-align: center
}

.grid-container-1 > div{
  background-color: #DDD;
  margin: 4px;
  padding: 10px;
}

.grid-container > div{
  background-color: #DDD;
  margin: 4px;
  padding: 10px;
}

.grid-container span{
  font-weight: 600;
  margin-left: 10px;
}

.frequent{
  /* display: none; */
}


/* media-queries */

@media screen and (max-width: 600px){
  body > div{
    width: 80%;
    padding: 20px;
  }

  body > div  h1{
    font-size: 2rem;
  }

  body > div > textarea{
    padding: 10px;
    width: 90%;
    font-size: 1rem;
  }

  .grid-container{
    display: grid;
    grid-template-columns: 100%;
    text-align: left;
    font-size: 1.6rem;
  }

  .grid-container-1{
    display: grid;
    grid-template-columns: 100%;
    text-align: left;
    font-size: 1.6rem;
  }
}